# 06. 상위 n개 레코드

In [6]:
import pandas as pd
df6 = pd.read_csv('../datasets/ANIMAL_INS.csv')

# datetime 시간데이터로 변환
df6['DATETIME'] = pd.to_datetime(df6['DATETIME'])

df6.loc[df6['DATETIME'] == max(df6['DATETIME'])][['DATETIME']]

              DATETIME
31 2018-02-03 10:40:00

# 07. 이름이 있는 동물의 아이디

In [11]:
df7 = pd.read_csv('../datasets/ANIMAL_INS.csv')
df7.loc[df7['NAME'] != df7['NAME'].isna()][['ANIMAL_ID']].sort_values(by='ANIMAL_ID')

   ANIMAL_ID
0    A349996
1    A350276
2    A350375
3    A352555
4    A352713
..       ...
95   A412626
96   A412697
97   A413789
98   A414198
99   A414513

[100 rows x 1 columns]

# 08. 강원도에 위치한 생산공장 목록 출력하기

In [36]:
df8 = pd.read_csv('../datasets/FOOD_FACTORY.csv', encoding='cp949')
df8.loc[df8['ADDRESS'].str.contains('강원도')].sort_values(by='FACTORY_ID')

    FACTORY_ID FACTORY_NAME                 ADDRESS          TLNO
2   FT19980003     (주)맛있는라면      강원도 정선군 남면 칠현로 679  033-431-3122
21  FT20100003     (주)맛있는음료   강원도 원주시 문막읍 문막공단길 154  033-232-7630
22  FT20100004      (주)맛있는국  강원도 평창군 봉평면 진조길 227-35  033-323-6640

# 09. 최댓값 구하기

In [80]:
df9 = pd.read_csv('../datasets/ANIMAL_INS.csv')

# datetime 시간데이터로 변환
df9['DATETIME'] = pd.to_datetime(df9['DATETIME'])

# 데이터 프레임은 단일값을 넣으면 오류가 뜬다! 리스트로 감싸주기
pd.DataFrame([df9['DATETIME'].max()], columns=['시간'])

                   시간
0 2018-02-03 10:40:00

# 10. 경기도에 위치한 식품창고 목록 출력하기

In [106]:
import numpy as np

df10 = pd.read_csv('../datasets/FOOD_WAREHOUSE.csv', encoding='cp949')
df10['FREEZER_YN'] = df10['FREEZER_YN'].apply(lambda x : 'N' if pd.isna(x) else x)
df10 = df10[df10['WAREHOUSE_NAME'].str.contains('경기')]
df10.drop(columns=['TLNO'], axis=1).sort_values(by='WAREHOUSE_ID')

   WAREHOUSE_ID WAREHOUSE_NAME                   ADDRESS FREEZER_YN
0        WH0001         창고_경기1       경기도 안산시 상록구 용담로 141          Y
2        WH0003         창고_경기2       경기도 이천시 마장면 덕평로 811          N
3        WH0004         창고_경기3    경기도 김포시 대곶면 율생중앙로205번길          N
6        WH0012         창고_경기7  경기도 수원시 권선구 오목천로152번길 40          N
16       WH0032         창고_경기9         경기도 안양시 만안구 전파로 3          N