# 21. 잔챙이 잡은 수 구하기

In [2]:
import pandas as pd

df21 = pd.read_csv('../datasets/FISH_INFO.csv')
pd.DataFrame([len(df21.loc[df21['LENGTH'].isna()])], columns = ['FSIH_COUNT'])

   FSIH_COUNT
0           2

# 22. 잡은 물고기의 평균 길이 구하기

In [4]:
df22 = pd.read_csv('../datasets/FISH_INFO.csv')
df22['LENGTH'] = df22['LENGTH'].fillna(10)

pd.DataFrame([round(df22['LENGTH'].mean(),2)], columns=['AVERAGE_LENGTH'])

   AVERAGE_LENGTH
0           27.78

# 23. 잡은 물고기 중 가장 큰 물고기의 길이 구하기

In [6]:
df23 = pd.read_csv('../datasets/FISH_INFO.csv')
max_length = df23['LENGTH'].max()
pd.DataFrame([str(max_length) + 'cm'], columns = ['MAX_LENGTH'])

  MAX_LENGTH
0     50.0cm

# 24. 한 해에 잡은 물고기 수 구하기

In [8]:
df24 = pd.read_csv('../datasets/FISH_INFO.csv')

df24['TIME'] = pd.to_datetime(df24['TIME'])
count = len(df24.loc[df24['TIME'].dt.year == 2021])

pd.DataFrame([count], columns=['FISH_COUNT'])

   FISH_COUNT
0           1

# 25. 가장 큰 물고기 10마리 구하기

In [10]:
df25 = pd.read_csv('../datasets/FISH_INFO.csv')
df25 = df25.loc[df25['LENGTH'].notna()].sort_values(by=['LENGTH', 'ID'], ascending=[False, True])
df25.iloc[:10,:][['ID','LENGTH']]

   ID  LENGTH
1   1   50.00
3   3   43.33
2   2   40.00
0   0   13.37